@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: rgb(253, 240, 234);
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px;
}

nav ul li a:hover {
    color: orange;
}

.logo {
    width: 140px;
}

.login-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.login-btn:hover {
    background-color: darkorange;
}

.content {
    padding: 50px 20px;
    position: relative;
    text-align: left;
}

.content h1,
.content p,
.btn {
    margin-left: 120px;
    margin-right: 20px;
}

.content h3 {
    margin-top: 100px;
    margin-left: 120px;
}

.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    top:20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkorange;
}

.feature-img {
    width: 430px;
    heigh:200px;
    position: absolute;
    right: 10%;
    top: 100px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 20px;
}

section div {
    width: 22%;
    min-width: 250px;
    margin-bottom: 30px;
}

section img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

section h1 {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

section p {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: rgb(253, 240, 234);
    padding: 20px;
}

footer h5 {
    margin-bottom: 10px;
}

footer p {
    margin-left: 20px;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 775px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .feature-img {
        position: static;
        width: 90%;
        margin: 20px auto;
        display: block;
    }

    .content h1,
    .content p,
    .btn,
    .content h3 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section div {
        width: 90%;
        margin-bottom: 30px;
    }
}
